body {
    color:rgba(112, 53, 250, 0.808);
    background:rgb(0, 0, 0);
    margin: 4px;
    font-family: "Festive", cursive;
}  
    
 header{ 
    border-bottom: solid 1px rgb(23, 101, 202);
    padding: 20px;
    font-size: 25px;
    color: rgb(23, 101, 202);

 }

 section{
    background: rgb(1, 255, 221);
    padding-bottom: 97px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
 }
   .chamada-texto{
   margin-right: 10%;
}

h1{ 
   font-size: 30px;
}
p {font-size: 20px;

}
img {
   height: 300px;
}
.imagens-videos{
   display: flex;
   overflow-x: auto;
   gap: 20px;
}